<div class="websy-view" data-view="aboutus">
  <div class="who-we-are">
  <h1 class="who">Who are we?</h1>
  
  <p class="lead">We are Open Arms. 
    We are a non-profit non-governmental organisation with one principal mission: to protect those who try to reach Europe by sea, fleeing from armed conflict, persecution or poverty; and also to inform and educate on land so that those who migrate can make decisions with complete freedom and knowledge.
    
    Our intention is to monitor and rescue vessels carrying people who need help in the Mediterranean channel, to protect the lives of the most vulnerable in emergency situations on land and to build alternatives to irregular migration in countries such as Senegal, providing people with resources through community awareness and information. In parallel, we continue to denounce all of the injustices that take place that nobody talks about.
    
    It all started with some photographs of drowned children on a beach. We thought: if our job is maritime rescue and we do it on our beaches, why are they dying over there without anybody to help them?</p>

<img class="who-img" src="https://www.openarms.es/uploads/quienes_somos/qs_photo_1.jpg?1525421802596">

<h2>With your help, we continue to save lives</h2>
<p class="lead">With the help of many people to collaborate with their donations, we have been able to increase our resources and save more lives every day: both at sea and on land.

  Also, thanks to their support, we can carry out educational work in schools that seek to generate empathy and critical thought among the youngest generation in order to create a society that is critical of inequality and that fights for a world that is more fair and just.</p>
  
</div>

<div class="info-parent">
  <img class="infographic-about" src="resources/assets/infographic1.png" alt="infographic">
</div>
<footer>
  <ul class="footer-parent">
    <li class="websy-trigger nav-item nav-link" data-view="notFound">Privacy Policy</li>
    <li class="websy-trigger nav-item nav-link" data-view="contact">Contact Us</li>
  </ul>
  <div class="footer-p">
  <p>© Fatal Journeys - Barcelona (Spain)</p>
</div>
</footer>
</div>
